.burger {
    position: relative;
    background-color: $secondary-color;
    border: none;
    cursor: pointer;
    padding: 12px 16px;
    border-radius: 8px;
    transition: transform 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 100%;

    &:hover {
        background: #e0e0e0;
    }

    &:active {
        transform: scale(0.95);
    }
}

.burgerIcon {
    display: block;
    filter: brightness(0) invert(1);
}

.search {
    display: flex;
    width: 100%;
    position: relative;
}

.searchInput {
    width: 100%;
    height: 48px;
    padding: 10px 16px;
    border: 2px solid rgba($secondary-color, 0.2);
    border-radius: 8px;
    font-size: 14px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;

    &:focus {
        outline: none;
        border-color: rgba($primary-color, 0.2);
        box-shadow: 0 0 0 1px rgba($primary-color, 0.2);
    }
}

.searchButton {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background: $secondary-color;
    color: $white;
    border: none;
    border-radius: 4px;
    padding: 12px 18px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;

    &:hover {
        background: #e0e0e0;
        transform: translateY(-50%) scale(1.05);
    }
}

.iconLink {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    transition: transform 0.3s ease, background 0.3s ease;
    width: 48px;
    height: 48px;

    &:hover {
        transform: translateY(-3px);
        background: #e0e0e0;

        .icon {
            filter: brightness(0) saturate(100%) invert(40%) sepia(99%) saturate(3519%) hue-rotate(208deg)
                brightness(98%) contrast(102%);
        }
    }
}

.icon {
    width: 24px;
    height: 24px;
}

/* Desktop стили ====================================== */
.desktopContainer {
    display: grid;
    grid-template-columns: 101px auto 108px 115px 176px;
    grid-template-rows: auto auto;
    gap: 16px;
    width: 100%;
    padding: 16px 0 20px;

    > div {
        display: flex;
        align-items: center;
    }
}

.burgerCell {
    grid-row: 1;
    grid-column: 1;
}

.socialsCell {
    grid-row: 1;
    grid-column: 3;
}

.socials {
    display: flex;
    gap: 12px;
    justify-content: flex-end;
}

.socialLink {
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 4px;
    background: $gray-light;
    @include flex-center;
    transition: transform 0.3s ease, background 0.3s ease;

    &:hover {
        transform: translateY(-3px);
        background: #e0e0e0;

        .socialIcon {
            filter: brightness(0) saturate(100%) invert(40%) sepia(99%) saturate(3519%) hue-rotate(208deg)
                brightness(98%) contrast(102%);
        }
    }
}

.socialIcon {
    width: 24px;
    height: 24px;
}

/* Стили для языка */
.langCell {
    grid-row: 1;
    grid-column: 4;
}

.lang {
    font-family: $font-family-maza;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px 12px;
    font-size: 16px;
    cursor: default;
    transition: background 0.3s ease;
}

.langIcon {
    width: 24px;
    height: 24px;
    filter: brightness(0);
}

.lang span {
    cursor: pointer;
    transition: filter 0.3s ease, color 0.3s ease;

    &:not(.activeLang) {
        filter: brightness(0) saturate(100%) invert(49%) sepia(9%) saturate(27%) hue-rotate(345deg) brightness(95%)
            contrast(79%);
    }

    &.activeLang {
        color: black;
    }

    &:not(.activeLang):hover {
        filter: none;
        color: $secondary-color;
    }
}

.iconsCell {
    grid-row: 1;
    grid-column: 5;
}

.icons {
    display: flex;
    gap: 16px;
    align-items: center;
}

/* Стили для меню */
.menuCell {
    grid-row: 2;
    grid-column: 1 / span 3;
    display: flex;
    width: calc(100% + 32px);
    margin-left: -16px;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 16px;
    padding: 0 16px;
    align-items: center;
}

.menuLink {
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: #f4f4f4;
    border-radius: 8px;
    padding: 11px 16px;
    color: $text-color;
    font-size: 16px;
    font-weight: 500;
    height: 100%;
    position: relative;
    transition: color 0.3s ease, background-color 0.3s ease;
    min-width: 0;
    text-align: center;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    gap: 8px;

    &.active {
        background-color: #e0e0e0;
        color: $secondary-color;

        &::after {
            content: '';
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: $secondary-color;
        }
    }

    &:hover {
        color: $secondary-color;
        background-color: #e9e9e9;
    }
}

.menuIcon {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.emptyCell {
    grid-row: 2;
    grid-column: 4;
    display: flex;
    align-items: center;
}

.buttonCell {
    grid-row: 2;
    grid-column: 5;
    display: flex;
    align-items: center;
}

.buildBtn {
    font-family: $font-family-maza;
    background-color: #f4f4f4;
    color: $secondary-color;
    border: none;
    border-radius: 8px;
    padding: 11px 6px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 7px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 6px rgba($primary-color, 0.2);
    width: 100%;
    justify-content: center;

    &:hover {
        box-shadow: 0 4px 12px rgba($primary-color, 0.3);
        transform: translateY(-2px);
        background-color: $secondary-color;
        color: $white;

        .buildIcon {
            filter: brightness(0) invert(1);
        }
    }
}

.buildIcon {
    width: 16px;
    height: 16px;
}

/* Mobile/Tablet стили ================================ */
.mobileContainer {
    display: none;
}

.logo {
    width: 56px;
    height: 56px;
    object-fit: contain;
}

.searchIcon {
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1);
}

@media (max-width: 1420px) {
    .desktopContainer {
        display: none;
    }

    .mobileContainer {
        display: grid;
        grid-template-columns: auto auto 1fr auto auto;
        grid-template-rows: auto auto;
        padding: 12px 0 14px 0;
        gap: 12px;
        width: 100%;

        & > div {
            display: flex;
            align-items: center;
        }

        .logoCell {
            justify-content: center;
        }
    }

    .burger {
        padding: 8px;
        width: 48px;
        height: 48px;
    }

    .burgerIcon {
        width: 24px;
        height: 24px;
    }

    .searchButton {
        padding: 12px;
        span {
            display: none;
        }

        .searchIcon {
            display: block;
        }
    }

    .mobileSearchCell {
        grid-column: 1 / span 5;
        width: 100%;

        .search {
            width: 100%;

            .searchInput {
                width: 100%;
            }
        }
    }
}

@media (max-width: $mobile) {
    .mobileContainer {
        padding: 0;
        gap: 8px;

        & > div {
            display: flex;
            align-items: center;
        }
    }

    .burger {
        padding: 8px;
        width: 40px;
        height: 40px;
    }

    .burgerIcon {
        width: 20px;
        height: 20px;
    }

    .iconLink {
        width: 40px;
        height: 40px;
    }

    .logo {
        width: 56px;
        height: 56px;
    }

    .searchInput {
        height: 48px;
        font-size: 14px;
    }

    .mobileSearchCell {
        width: 100%;

        .search {
            width: 100%;
        }
    }
}
